body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.app { }

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
